/* COMMON */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.bg_lightgreen {
    background-color: #19bc9c;
    color: white;
}

section{
    padding: 2rem 0; 
}

img {
    width: 100%;
}



/* HEADER */
header {
    height: 100px;
    background-color: #2c3e4f;
    align-items: center;
    color: #f5f5f6;
}

.logo{
    font-weight: 700;
    font-size: 25px;
}

.burger_menu{
    text-align: right;
    font-size: 25px;
}

.header_menu_list.flex{
    justify-content: end; 
    padding-top: 0.5rem; 
}

.header_menu_list.flex li a{
    padding: 0 0.5rem;
    color: white;
    font-size: 0.8rem;
    display: inline-block;
}



.header_menu_list.flex li:hover a{
    color: #19bc9c;
    transform: scale(1.2);
}



/* MAIN */

.ms_img_jambotron_container {
    width: 50%;
    margin: 0 auto;
    padding: 0.7rem 0 1.2rem 0;
}

.jambotron_container.text-center h1 {
    font-size: 40px;
    font-weight: 700;
}

.jambotron_list.flex {
    justify-content: center;
    padding: 1rem 0;
}


/* STELLA */
.stella, .stella_nera{
    font-size: 2rem;
    padding: 1rem 0;   
}

.stella:after, .stella:before {
    content: "";
    display: inline-block;
    width: 20%;
    height: 2px;
    background-color: white;
    vertical-align: middle;
}

.stella_nera:after, .stella_nera:before {
    content: "";
    display: inline-block;
    width: 20%;
    height: 2px;
    background-color: black;
    vertical-align: middle;
}


.jambotron_list.flex li {
    font-size: 20px;
}


/* sezione 2 */


.square img {
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

/* sezione 3 */

.small_container{
    width: 60%;
    max-width: 1170px;
    margin:0 auto;    
}

.ms_btn_container {
    width: 50%;
    margin: 0 auto;
}

.btn.my_btn {
    color: #fff;
    background-color: transparent;
    border-color: white;
    cursor: pointer; 
    margin-top: 4rem; 
}

.btn.my_btn:hover {
    color: rgb(31, 47, 220);
    
    
}


/* sezione 4 */

.small_container h2, .stella, .stella_nera{
    text-align: center;
}

.form-control {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.5rem 0;
}

.mb-3 {
    padding: 1rem 0;
}

.form-control:focus {
    box-shadow: none;
}

#exampleFormControlTextarea1 {
    padding-bottom: 8rem;
}

.btn.my_btn_green{
    padding-bottom: 0.5rem;
    background-color: #19bc9c;
    color: white;
}

.btn.my_btn_green:hover{
    color: rgb(31, 47, 220)
}

/* FOOTER */

footer{
    background-color: #3b536d;
    color: #f5f5f6;
    padding: 1.8rem 0 0 0;
}

.footer_bottom{
    height: 70px;
    background-color: #2c3e4f;
    color: white;
    text-align: center;
    line-height: 70px;
}


.address, .social-media, .social_media_square, .about-freelancer{
    text-align: center;  
    padding-bottom: 1rem;
}

.address #address {
    font-size: 20px;
}

.social_media_square {
    height: 50px;
    width: 50px;
    background-color: #3b536d;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.social_media_square:hover{
    cursor: pointer;
    color: #19bc9c;
}

.brand i {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-freelancer {
    font-size: 20px;
}

.about-freelancer p a {
    color: #1cbb9d;
}






/***************** MEDIA ************/

@media screen and (min-width:768px) {

    .ms_img_jambotron_container {
        width: 30%;
        
    }

}

@media screen and (min-width:992px) {

    .ms_img_jambotron_container {
        width: 18%;
        
    }

}















